* {
    box-sizing: border-box;
    margin: 0px;

}

.content {
    width: 100%;
    background-color: rgb(27, 27, 27);
    height: 900px;
    display: flex;
    justify-items: center;

}

.map {
    height: 614px;
    width: 614px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-flow: row wrap;

    border: 7px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.gameSquare {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;

}

.piece {
    font-size: 178px;
}

.hide {
    display: none;
}

.start {
    width: 100%;
    height: 100%;
    background-color: white;

    z-index: 99999;
    position: fixed;
    top: 0px;
    left: 0px;
}

.title::before {
    content: "Tic";
    font-size: 74px;
    position: absolute;
    top: -65px;
    left: -65px;
    color: black;
    transition: 0.5s;
}

.title {
    color: black;
    font-size: 74px;
    position: absolute;
    top: 35%;
    left: 45%;
    transition: 1s;
}

.title::after {
    content: "Toe";
    font-size: 74px;
    position: absolute;
    top: 65px;
    left: 85px;
    color: black;
    transition: 1.5s;
}

.front-text {
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 24px;
}

.resBtn {
    height: 65px;
    width: 190px;
    background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border: 1px transparent;
    border-radius: 5px;
    box-shadow: 2px 3px 13px 3px rgba(0, 0, 0, 0.48);
    margin: 55px;
}

.resBtn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.resBtn:active {
    opacity: 0.6;
}

/* .winScreen-BG {
    height: 2;
    width: 100%;
    
    z-index: 1;
    display: block;
} */

.winScreen {
    height: 400px;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0px;
    z-index: 2;
    opacity: 1;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.58);
    margin-left: 10%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.winScreen-text {
    font-size: 48px;
    text-align: center;
    margin: 55px;
}

.hide {
    display: none;
}